<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Features
    </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="type">
    <ion-segment-button value="native">
      <ion-label>Native Plugins</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-grid *ngIf="type == 'native'">
    <ion-row>
      <ion-col size="6">
        <!--  sizeLg="4" sizeMd="3" pull="2" pullLg="1" -->
        <!--  offset="3" offsetSm="2" -->
        <ion-card color="primary" routerLink="/home/network">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Network & Toast</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6" sizeLg="4">
        <ion-card color="primary" (click)="share()">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Social Sharing</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6" sizeLg="4">
        <ion-card color="primary" routerLink="/home/camera">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Access Camera</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6" sizeLg="4">
        <ion-card color="primary" routerLink="/home/contacts">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Contacts & Call</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
  
      <ion-col size="6" sizeLg="4">
        <ion-card color="primary" routerLink="/home/local-notification">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Local Notifications & sounds</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
